body {
    margin: 0;
    padding: 0;
    background: url(../img/fondo.png) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}
.box1{
    width: 220px;
    height: 680px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 8%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.box1 .avatar{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: static;
    top: -10px;
    left: calc(50% - 50px);
}
.box1 a{
    text-decoration: none;
    position: static;
    font-size: 12px;
    Line-height: 20px;
    color: darkgrey;
}

.box1 a:hover{
    color: #fff;
}
.p{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: static;
    top: -10px;
    left: calc(50% - 50px);
}